body {
    margin: 0; /* eliminates the whitespace around our images */
}

.borderline {
    border-top: 2px solid #FFA800;
    margin-top: 40px;
    margin-bottom: 40px;
}

.form {
    width: 80%;
    margin: auto; 
}

.guardian-information {
    display: flex;
    width: 45%;
    flex-wrap: wrap;
}

.input-field {
    display: inline-block;
}

.title {
    color: #FFA800;
    font-family: "Poppins-Bold", Helvetica;
    font-size: 44px;
    font-weight: 700;
    left: 0;
    letter-spacing: 0;
    line-height: 72px;
    position: relative;
    top: 0;
    width: 1037px;
    
}
  
.form .text-wrapper {
    color: #000000;
    font-family: "Poppins-Regular", Helvetica;
    left: 0;
    top: 0;
}

.form h2 {
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 50px;
    position: relative;
    white-space: nowrap;
    /* width: 706px; */
}

.form p {
    font-size: 16px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: 30px;
    /* position: relative; */
    top: 0;
    width: 1218px; 
}
  

/* .wallpaper {
    height: 250px;
    width: 80%;
    margin: auto;
    background-image: url("../../images/multi-colored-spheres-sport-balls-galore-outdoors-generated-by-ai_188544-20013.avif");
} */


.wallpaper {
    width: 100vw;
    height: 90vh;
    background-image: url(../../images/linemen.jpeg);
    background-size: cover;

}

/* .wallpaper {
    width: 100vw;
    height: 100vh;
    background-image: url(../../images/kickoff.jpeg);
    background-size: cover;
} */
